langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai

google-generativeai

python-dotenv

pydantic

ipykernel

jupyter

tiktoken

faiss-cpu

chromadb

pypdf

beautifulsoup4

requests

fastapi

uvicorn